form > div.row > p {
    padding-left: 15px;
    font-size: 1em;
}

form#register {
    margin-top: 1em;
    margin-bottom: 1em;
}

table.fees {
    margin-bottom: 20px;
}

#fees {
    padding-bottom: 20px;
    display: flex;
}

th, td {
  padding: 5px;
}

p.contact-email {
  font-size: 2rem;
  font-family: Monospace;
}