form > div.row > p {
    padding-left: 15px;
    font-size: 1em;
}

form#register {
    margin-top: 1em;
    margin-bottom: 1em;
}

table.fees {
    margin-bottom: 20px;
}

#fees {
    padding-bottom: 20px;
    display: flex;
}

th, td {
  padding: 5px;
}

p.contact-email {
  font-size: 2rem;
  font-family: Monospace;
}

form#paypal {
  width: 350px;
}

form#paypal table {
  width: 100%;
}

form#paypal select {
  width: 100%;
  height: 2em;
}

form#paypal input {
  width: 100%;
  height: 2em;
}

.btn-paypal {
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  padding-left: 0;
  padding-right: 0;
  width: 340px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 3em;
}