<div class="container">
    <div class="row"> 
        <center>
        <!-- <h3><a href="registration" target="_blank"> Registration for the BioC2022 conference is now open! </a></h3> -->
        <h4> The EuroBioC2023 conference will take place in Ghent, Belgium, on September 20-22, 2023. </h4>
        <h4> Venue: Faculty of Bioscience Engineering, Ghent University, Coupure Links 653, 9000 Gent, Belgium. Auditorium E1 - OEHOE, Blok E. <a href="img/VenueEuroBioc2023.pdf" target="blank">Map</a></h4>
        <h4> Registration is open! Click <a href="registration" target="_blank">here</a> to get to the registration page. </h4>
        <h4> Submission of late poster abstracts is open until August 21. Click <a href="https://forms.gle/eQKzppMTuCx9wvWe6" target="_blank">here</a> to get to the submission form. </h4>
        <h4> Registration for the pre-conference two-day workshops <a href="https://bioconductor.github.io/2023-09-18-BiocIntro-EuroBioc/" target="_blank">Introduction to genomic data analysis with R and Bioconductor</a> and <a href="https://bioconductor.github.io/2023-09-18-RNASeq-EuroBioc/" target="_blank">Analysis and Interpretation of Bulk RNA-Seq Data using Bioconductor</a> are open. See the respective course websites for links to the registration forms.</h4>
        <h4> <a href="submissions" target="_blank">Submission</a> of Birds-of-a-feather sessions is open! Submit your ideas by September 20.</h4>
        <p class="text-primary text-large mb-small text-left">
            </b>.
        </p>
        </center>
    </div>
    <div class="row">
        <table style="width:100%">
            <tr>
                <th style="width:50%"><h4>Mark your calendar</h4></th>
                <th>Bioconductor Mastodon feed</th>
                <!--<th>Tweets by <a href="https://twitter.com/Bioconductor" target="blank">@Bioconductor</a></th>-->
            </tr>
            <tr>
                <td>
                    <ul>
                        <li><s><b>February 1</b>: Call for abstracts opens.</s></li>
                        <li><s><b>April 24 (5 pm CEST)</b>: Call for abstracts closes.</s></li>
                        <li><s><b>May 9</b>: Notification of abstract decision.</s></li>
                        <li><b>May 17</b>: Registration opens for speakers of accepted abstracts.</li>
                        <li><b>June 1</b>: General <a href="registration" target="_blank">registration</a> opens. </li>
                        <!--<li><b>May 15, 2022</b>: In-person registration lottery begins</li>-->
                        <li><b>August 21</b>: <a href="https://forms.gle/eQKzppMTuCx9wvWe6" target="_blank">Submission</a> closes for late poster submissions</li>
                        <li><b>August 31 or when places are sold out</b>: Registration closes</li>
                        <li><b>September 18-19, 2023</b>: Pre-conference workshops: <a href="https://bioconductor.github.io/2023-09-18-BiocIntro-EuroBioc/" target="_blank">Introduction to genomic data analysis with R and Bioconductor</a>, <a href="https://bioconductor.github.io/2023-09-18-RNASeq-EuroBioc/" target="_blank">Analysis and Interpretation of Bulk RNA-Seq Data using Bioconductor</a></li>
                        <li><b>September 20-22, 2023</b>: The EuroBioC2023 conference.</li>
                        <br>
                    </ul>
                </td>
                <td>
                    <iframe allowfullscreen sandbox="allow-top-navigation allow-scripts allow-popups allow-popups-to-escape-sandbox" width="400" height="400" src="https://www.mastofeed.com/apiv2/feed?userurl=https%3A%2F%2Fgenomic.social%2Fusers%2Fbioconductor&theme=dark&size=100&header=false&replies=false&boosts=true"></iframe>
                </td>
                <!-- <td>
                    <a class="twitter-timeline" data-height="200" href="https://twitter.com/Bioconductor?ref_src=twsrc%5Etfw">Tweets by Bioconductor</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </td> -->
            </tr>
        </table>

        </p>
</div>
</div>
