<div class="container">
    <div class="row"> 
        <center>
        <!-- <h3><a href="registration" target="_blank"> Registration for the BioC2022 conference is now open! </a></h3> -->
        <h4> The EuroBioC2023 conference will take place in Ghent, Belgium, on September 20-22, 2023. </h4>
        <p class="text-primary text-large mb-small text-left">
            </b>.
        </p>
        </center>
    </div>
    <div class="row">
        <table style="width:100%">
            <tr>
                <th style="width:50%"><h4>Mark your calendar</h4></th>
                <th>Tweets by <a href="https://twitter.com/Bioconductor" target="blank">@Bioconductor</a></th>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li><b>TBD</b>: Call for abstracts opens.</li>
                        <li><b>TBD</b>: Call for abstracts closes.</li>
                        <li><b>TBD</b>: <a href="registration" target="_blank">Registration</a> opens. </li>
                        <li><b>TBD</b>: Notification of abstract decision.</li>
                        <!--<li><b>May 15, 2022</b>: In-person registration lottery begins</li>-->
                        <li><b>TBD</b>: Registration closes</li>
                        <li><b>September 20-22, 2023</b>: The EuroBioC2023 conference.</li>
                        <br>
                    </ul>
                </td>
                <td>
                    <a class="twitter-timeline" data-height="200" href="https://twitter.com/Bioconductor?ref_src=twsrc%5Etfw">Tweets by Bioconductor</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </td>
            </tr>
        </table>

        </p>
</div>
</div>
