<div class="container">
    <div class="row"> 
        <center>
        <!-- <h3><a href="registration" target="_blank"> Registration for the BioC2022 conference is now open! </a></h3> -->
        <h4> The BioC2023 conference will take place... </h4>
        <p class="text-primary text-large mb-small text-left">
            </b>.
        </p>
        </center>
    </div>
    <div class="row">
        <table style="width:100%">
            <tr>
                <th><h4>Mark your calendar</h4></th>
                <th>Tweets by <a href="https://twitter.com/Bioconductor" target="blank">@Bioconductor</a></th>
            </tr>
            <tr>
                <td>
                    <ul>
                        <!--<li><b>January 22, 2022</b>:Call for abstracts opens.</li>
                        <li><b>March 29, 2022</b>: Call for abstracts is closed</li>
                        <li><b>April 22, 2022</b>: <a href="registration" target="_blank">Registration</a> for the hybrid BioC2022 opens. </li>
                        <li><b>April 29, 2022</b>: Notification of abstract decision</li>
                        <li><b>May 15, 2022</b>: In-person registration lottery begins</li>
                        <li><b>July 26, 2022</b>: Virtual registration closes</li>-->
                        <li><b>July 26-28, 2023</b>: The BioC2023 conference.</li>
                        <br>
                    </ul>
                </td>
                <td>
                    <a class="twitter-timeline" data-height="200" href="https://twitter.com/Bioconductor?ref_src=twsrc%5Etfw">Tweets by Bioconductor</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </td>
            </tr>
        </table>

        </p>
</div>
</div>
