{{ $sep := "," }}
{{ $dataPath := "/content/data/" }}
{{ $feesFile := getCSV $sep $dataPath "fees.csv" }}
{{ $.Scratch.Set "count" 0 }}

<table class="fees">
    <col width="150">
      {{ range $i, $r := $feesFile }}
        <tr>
        {{ if eq 0 ($.Scratch.Get "count") }}
            <th>{{ index $r 0 }}</th>
            <th>{{ index $r 1 }}</th>
            <th>{{ index $r 2 }}</th>
            <th>{{ index $r 3 }}</th>
        {{ else }}
            <td>{{ index $r 0 }}</td>
            <td>{{ index $r 1 }}</td>
            <td>{{ index $r 2 }}</td>
            <td>{{ index $r 3 }}</td>
        {{ end }}
        </tr>
        {{ $.Scratch.Add "count" 1 }}
      {{ end }}
</table>


