<div class="container">
<form id="register"
      name="register" 
      method="post" 
      target="_top" 
      action="/payment/" 
      data-netlify="true">
  <div class="row">
    <div class="col-sm-2 col-md-1">
        <input id="output-email-subject" type="hidden" name="subject" value="">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" name="title" id="title">
        </div>
    </div>
    <div class="col-sm-10 col-md-7">
        <div class="form-group">
            <label for="name">First and Last Name(s)</label>
            <input type="text" class="form-control" name="name" id="name" required="">
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <div class="form-group">
        <label for="position">Career Stage / Position</label>
        <select class="form-control" name="position" id="position">
        <option hidden disabled selected value> -- select an option -- </option>
        <option>Undergraduate or Masters Student</option>
        <option>Postgraduate / Predoc Student</option>
        <option>Postdoc</option>
        <option>Staff Scientist</option>
        <option>Medical Doctor</option>
        <option>Principal Investigator</option>
        <option>Other</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <div class="form-group">
        <label for="affiliation">Affiliation or Organisation</label>
        <input type="text" class="form-control" name="affiliation" id="affiliation" required="">
      </div>
    </div>
    <div class="col-sm-7 col-md-4">
      <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" class="form-control" name="email" id="email" oninput="updateSubject(this.value)" required="">
      </div>
    </div>
    <div class="col-sm-5 col-md-4">
      <div class="form-group">
        <label for="phone">Telephone Number (not required)</label>
        <input type="text" class="form-control" name="phone" id="phone">
      </div>
    </div>
  </div>
  <div class="row">
  <p>Postal Addess (Required for the invoice. Please see above for more details.)</p>
    <div class="col-sm-6 col-md-4">
      <div class="form-group">
        <label for="street">Street and number</label>
        <input type="text" class="form-control" name="street" id="street" required="">
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="form-group">
        <label for="city">City</label>
        <input type="text" class="form-control" name="city" id="city" required="">
      </div>
    </div>
    <div class="col-sm-6 col-md-2">
      <div class="form-group">
        <label for="zip">Zip Code</label>
        <input type="text" class="form-control" name="zip" id="zip" required="">
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="form-group">
        <label for="country">Country</label>
        <input type="text" class="form-control" name="country" id="country" required="">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <div class="form-group">
        <label for="vat">VAT Number<br/>(If registering with an institutional address from EU countries, you must provide this.)</label>
        <input type="text" class="form-control" name="vat" id="vat">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="form-group">
        <label for="diet">Dietary Requirements <br/>(leave blank if none)</label>
        <input type="text" class="form-control" name="diet" id="diet">
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="form-group">
        <label for="registration-type">Registration Type<br><br></label>
        <select class="form-control" name="registration-type" id="registration-type">
        <option hidden disabled selected value> -- select an option -- </option>
        <option value="Junior Researcher">Junior Researcher</option>
        <option value="Academic / Non-profit">Academic / Non-profit</option>
    	  <option value="Industry">Industry</option>
    	  </select>
      </div>
    </div>
    <div class="col-lg-5 col-md-6">
      <div class="form-group">
        <label for="pay-bank-transfer">Pay by bank transfer rather than Credit card/PayPal<br/>(we will send you an invoice with the bank details)</label>
        <input type="checkbox" class="form-control" id="pay-bank-transfer" name="pay-bank-transfer">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <button type="submit" class="btn btn-template-main"><i class="far fa-envelope"></i>Submit Registration</button>
    </div>
  </div>
</form>
</div>
